.multisearch-markets-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.multisearch-open-button {
    background-color: #4ade80;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.multisearch-open-button:hover {
    background-color: #86efac;
}

.multisearch-markets-empty {
    padding-left: 8px;
    padding-right: 8px;
}